body {
  padding: 10px;
  font-family: sans-serif;
}
.player {

}
.player-form {

}
.business__container {
  display: flex;
  flex-wrap: wrap;
}
.business {
  flex-basis: 50%;
}
.button--upgrade {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.button--upgrade span {
  flex-basis: 50%;
}
